<template name="customerBind">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-stable">
      <button data-dismiss="modal" type="button" class="button button-clear"><i class="icon ion-ios-close-empty"></i></button>
        <h2 class="title">选择客户</h2>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="请输入手机号查找" class="keyword"><!-- 根据姓名查找 -->
          <!--<i class="icon ion-ios-close-empty placeholder-icon"></i>-->
        </label>
      </div>

      <div class="content has-header overflow-scroll">
        {{#ionList}}
          {{#each filteredCustomers}}
            {{#ionItem customer=this class="selected-customer-row" buttonRight=true}}

              {{mobile}}{{#if name}}({{name}}{{titleTransfer gender}}){{/if}}
            {{/ionItem}}
          {{/each}}
          <a class="item item-icon-left create-new-customer" href="#">
            <i class="icon ion-android-add"></i>
            添加新客户
          </a>
        {{/ionList}}
      </div>
    </div>

  {{/ionModal}}
</template>
