<template name="itemNew">
  {{#ionModal title="添加鞋靴"}}
    <div class="padding-top">
      <div class="list">
        <div class="item item-divider">

        </div>

        <a class="item item-icon-right" href="#">
          服务名称{{classId}}
          <span class="item-note">
            {{selectedItemBusiness}}{{> ionIcon icon="ios-arrow-right"}}
          </span>
        </a>

        <div class="item item-divider">

        </div>

        <a class="item item-icon-right" href="#">
          服务项目（上次说不这么弄了）
          <span class="item-note">
            共2项{{> ionIcon icon="ios-arrow-right"}}
          </span>
        </a>
        <a class="item item-icon-right" href="#">
          已选择：清洗、翻新
        </a>

        <div class="item item-divider">

        </div>

        <a class="item item-icon-right" href="#">
          瑕疵
          <span class="item-note">
            变形,磨损{{> ionIcon icon="ios-arrow-right"}}
          </span>
        </a>
        <a class="item item-icon-right" href="#">
          洗后效果
          <span class="item-note">
            尽力洗{{> ionIcon icon="ios-arrow-right"}}
          </span>
        </a>
        <a class="item item-icon-right" href="#">
          配件
          <span class="item-note">
            鞋带{{> ionIcon icon="ios-arrow-right"}}
          </span>
        </a>
        <a class="item item-icon-right" href="#">
          颜色
          <span class="item-note">
            黑色{{> ionIcon icon="ios-arrow-right"}}
          </span>
        </a>

      </div>
    </div>
  {{/ionModal}}
</template>
