<template name="_storeClassBusinessNew">
  {{#ionModal customTemplate=true}}
    {{#autoForm collection="StoreBusinesses" id="storeBusiness-new-form" type="insert"}}
      <div class="bar bar-header bar-stable">
        <button data-dismiss="modal" type="button" class="button button-clear"><i class="icon ion-ios-close-empty"></i></button>
        <h2 class="title">新增业务</h2>
        <button type="submit" class="button button-positive button-clear">添加</button>
      </div>
      <div class="content has-header overflow-scroll">
        {{> afQuickField name="name"}}
      </div>
    {{/autoForm}}
  {{/ionModal}}
</template>
