<template name="contacts">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">联系我们</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#with area}}
          {{#ionItem buttonRight=true href=preManager.preManagerMobile}}
            <h2>{{preManager.preManagerName}}</h2>
            <p>悟浄生活-DB经理</p>
            <button class="button button-positive">
              <i class="icon ion-ios-telephone"></i>
            </button>
          {{/ionItem}}
          {{#ionItem buttonRight=true href=postManager.postManagerMobile}}
            <h2>{{postManager.postManagerName}}</h2>
            <p>悟浄生活-业务经理</p>
            <button class="button button-positive">
              <i class="icon ion-ios-telephone"></i>
            </button>
          {{/ionItem}}
        {{/with}}
        {{#ionItem buttonRight=true href="tel:4008927597"}}
          <h2>小浄</h2>
          <p>悟浄生活-400客服电话</p>
          <button class="button button-positive">
            <i class="icon ion-ios-telephone"></i>
          </button>
        {{/ionItem}}

      {{/ionList}}
      {{#if noStore}}
        <div class="card">
          <div class="item item-text-wrap">
            <i class="icon ion-locked"></i>&nbsp;对不起，商户信息尚未提交，暂时还不能查看订单。若有疑问，请拨打400电话联系我们！
          </div>
        </div>
      {{/if}}
    {{/ionContent}}
  {{/ionView}}

</template>
