<template name="historyOrders">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">历史订单</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="has-tabs"}}
      {{#ionList}}
        {{#each orders}}
        <div class='order-row'>
          <div class="item item-divider item-icon-right">
            订单#{{this.[0].orderKey}}<!--<i class="icon ion-ios-arrow-right"></i>-->
          </div>
          {{#each this}}
            {{#ionItem}}
              #{{this.orderKey}}-{{this.subKey}}
              <span class="item-note">{{this.business.name}} ({{pairToString this.colors}})</span>
            {{/ionItem}}
          {{/each}}
        </div>
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
