$positive: #129FF1;
$loading-font-size: 22px;

@import '../../.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/_ionic';
@import '../../.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/_ionicons';

.ionic-body.platform-android {
  font-family: "Roboto", sans-serif;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
  }

  .tab-item {
    font-family: "Roboto", sans-serif;
  }
}

.ion-slide {
  text-align: center;
  padding-top: 200px;

  &.dark-bg {
    h3 {
      color: #fff;
    }
  }
}

.popover {
  height: auto;
}

.item-button-left, .item-button-right {
  button {
    top: 16px !important;
  }
}

.wrapped-item {
  padding: 0px;
}

.disabled-item {
  color: #aaa;
}

.tabs {
  a{
    text-decoration: none!important;
  }
  a:link, a:visited {
    color: inherit;
  }
}

.gender-row {
  label {
    vertical-align: middle;
  }
}

.order-new-subfooter {
  bottom: 48px;
}

.move-top-border {
  border-top: 0px;
}

.slds-badge {
  font-size: 0.825rem;
}
