<template name="createShoe">
  {{#ionModal title="添加鞋靴"}}
    <div class="padding-top">
      <div class="list">
        <div class="item item-divider">

        </div>

        <a class="item item-icon-right" href="#">
          物品名称
          <span class="item-note">
            长靴{{> ionIcon icon="ios-arrow-right"}}
          </span>
        </a>

        <div class="item item-divider">

        </div>

        <a class="item item-icon-right" href="#">
          服务项目
          <span class="item-note">
            共2项{{> ionIcon icon="ios-arrow-right"}}
          </span>
        </a>
        <a class="item item-icon-right" href="#">
          已选择：清洗、翻新
        </a>

        <div class="item item-divider">

        </div>

        <a class="item item-icon-right" href="#">
          颜色
          <span class="item-note">
            黑色{{> ionIcon icon="ios-arrow-right"}}
          </span>
        </a>

      </div>
    </div>
  {{/ionModal}}
</template>
